@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Sono", sans-serif;
  cursor: url("/cursor.svg"), default;
}

canvas {
  width: 100%;
  height: 100%;
  transition: background 1s ease-out;
}

.Overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 20px;
  cursor: url("/cursor.svg"), default;
}

.soundControl {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: url("/cursor.svg"), default;
}

.draft {
  color: #d28dde;
}

.content {
  width: 25px;
  height: 24px;
  background: #fbe4ff;
  justify-content: center;
  text-align: center;
  align-items: center;
  pointer-events: none;
  cursor: url("/cursor.svg"), default;
}
#degree-screen {
  font-size: 8px;
  color: #f4978e;
  padding-top: 2px;
}
#greeting-screen,
#condition-screen {
  font-size: 2px;
  padding: 1px;
  color: #f4978e;
}
#degree {
  font-size: 4em;
  color: #ffffff;
  padding-top: 2px;
}
#greeting,
#condition {
  font-size: 1em;
  padding: 0.02rem;
  color: #ffffff;
}
/* .container {
  width: 50vw;
  display: flex;
  justify-content: center;
} */

.data-container {
  position: absolute;
  right: 20vw;
  bottom: 0;
  margin-bottom: 20px;
  z-index: 1;
}
.box,
.data-box {
  width: 3vw;
  min-width: 200px;
  height: 15em;
  padding: 1rem;
  background-color: #ffffff42;
  border: 2px dashed #ffffffd2;
  box-shadow: 0 0 0 5px #ffffff42;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.data-box {
  height: 10em;
  gap: 10px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.input {
  outline: none;
  padding: 1em;
  border: 2px solid #ffffffd2;
  color: #ffffff;
  width: 11em;
  height: 2em;
  border-radius: 10px;
  background-color: #ffffff42;
  text-align: center;
  font-family: "Sono", sans-serif;
  cursor: url("/cursor.svg"), default;
}
::placeholder {
  color: #ffffff;
  text-align: center;
}
.btn {
  align-self: center;
  margin-top: 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: 0.4s linear ease-in-out;
  padding: 1em;
  background-color: #ffffff42;
  border: 2px dashed #ffffffd2;
  box-shadow: 0 0 0 5px #ffffff42;
  font-family: "Sono", sans-serif;
  cursor: url("/pointer.svg"), default;
}

.btn:hover {
  background-color: #ffffff69;
  box-shadow: 0 0 0 5px #ffffff69;
}
.icon > svg {
  width: 4em;
  height: 4em;
}

.icon {
  position: absolute;
  z-index: 2;
}

.icon:nth-child(1) {
  left: 0.2em;
  top: 1.2em;
  animation: move-right 2s ease-in-out infinite alternate-reverse;
}
.icon:nth-child(2) {
  left: 14rem;
  top: 18em;
  animation: move-left 2s ease-in-out infinite alternate-reverse;
}
@keyframes move-right {
  to {
    transform: translateX(-0.3em);
  }
}

@keyframes move-left {
  to {
    transform: translateX(0.3em);
  }
}

.top-container {
  position: absolute;
  top: 0;
  z-index: 2;
}
.form-container {
  width: 10em;
  transform: translateY(-17.5em);
  transition: transform 0.5s ease-out;
  display: flex;
  margin-left: 1em;
}
.toggle-button {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ffffff95;
  border: 2px dashed #ffffff;
  box-shadow: 0 0 0 5px #ffffff95;
  position: absolute;
  margin-left: 16em;
  margin-top: 2em;
}
.toggle-active {
  transform: translateY(2em);
}

.line {
  position: absolute;
  background-color: #ffffff;
  width: 0.2em;
  height: 19em;
  margin-left: 17em;
  top: 0;
}

/* contribution */
.contribution-toggle-button {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #ffffff95;
  border: 2px dashed #ffffff;
  box-shadow: 0 0 0 5px #ffffff95;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: large;
  transition: transform 0.8s ease-in-out;
}
.contribution-toggle-active {
  transform: translateX(-24em);
}
.contribution-info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 1;
  width: 30em;
  height: fit-content;
  background-color: #ffffff95;
  border: 2px dashed #ffffff;
  box-shadow: 0 0 0 5px #ffffff95;
  font-size: small;
  color: white;
  padding: 1em;
  transition: transform 0.8s ease-in-out;
  transform: translateX(34em);
}
.contribution-is-active {
  transform: translateX(0);
}
